.wrapper {
  padding: 1.5rem;
}

.interfaceWrapper {
  display: grid;
  grid-template-columns: 1fr;

  grid-template-areas:
    "library"
    "con"
    "pro"
    "filter"
    "trends"
    "stats";
  gap: 1rem;

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 300px;
    grid-template-areas:
      "library library filter"
      "con pro stats"
      "con pro trends";
  }

  .library {
    grid-area: library;
  }

  .pro {
    grid-area: pro;
  }

  .con {
    grid-area: con;
  }

  .trends {
    grid-area: trends;
  }

  .filters {
    grid-area: filters;
  }

  .stats {
    grid-area: stats;
  }
}
